$font-primary:  Arial, Helvetica, sans-serif

$color-body: #333333
$color-body-dark: #EFEFEF
$color-primary: #FF0066
$color-secondary: #A3BA61
$color-tertiary: #FF9900

$color-bg: #FFFFFF
$color-bg-black: #000000
$color-bg-dark: #241C1C

$color-gray: #CCCCCC

html, body
    font-family: $font-primary
    padding: 0
    margin: 0
    width: 100%
    height: 100%

.lightbox
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background-color: $color-bg-dark

.hide
    display: none

.html-gallery
    margin: 1%

h1
    margin-left: 1%

.img-url
    margin-right: 3px

.img-preview
    margin: 0 auto
    margin-top: 1%
    padding: 1%
    width: 1024px
    height: 768px
    background-color: $color-body-dark
    position: absolute
    top: 0
    left: 0

.preview-img
    width: 100%
    height: 100%